{% extends "base.html" %}

{% block content %}
    <h1 class="my-4">Папка для разметки: {{ folder_name }}</h1>
    <div class="row">
        {% for gif in gifs %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='processed/' + folder_name + '/' + gif.filename) }}" class="card-img-top" alt="{{ gif.filename }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ gif.filename }}</h5>
                        <div class="tags">
                            <strong>Tags:</strong>
                            {% if gif.tags %}
                                {{ gif.tags|join(', ') }}
                            {% else %}
                                Пока нет меток.
                            {% endif %}
                        </div>
                        <a href="{{ url_for('markup_gif', folder_name=folder_name, filename=gif.filename) }}" class="btn btn-primary btn-sm mt-2">Разметить GIF</a>
                        <a href="{{ url_for('markup_frames', folder_name=folder_name, filename=gif.filename) }}" class="btn btn-secondary btn-sm mt-2">Разметить кадры</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}