{% extends "base.html" %}

{% block content %}
    <h1 class="my-4">Markup Frames for {{ filename }}</h1>
    <a href="{{ url_for('markup_gif', folder_name=folder_name, filename=filename) }}" class="btn btn-secondary mb-4">Back to GIF</a>

    <div class="row">
        {% for frame in frames %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='processed/' + folder_name + '/' + filename.split('.')[0] + '/' + frame) }}" class="card-img-top" alt="{{ frame }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ frame }}</h5>
                        <form method="POST">
                            <input type="hidden" name="frame_name" value="{{ frame }}">

                            <!-- Gender Informative -->
                            <div class="form-group">
                                <label>Gender Informative:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender_informative" id="gender_informative_yes_{{ frame }}" value="Yes" {% if frame_tags.get(frame, {}).get('Gender Informative') == 'Yes' %}checked{% endif %}>
                                    <label class="form-check-label" for="gender_informative_yes_{{ frame }}">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender_informative" id="gender_informative_no_{{ frame }}" value="No" {% if frame_tags.get(frame, {}).get('Gender Informative') == 'No' %}checked{% endif %}>
                                    <label class="form-check-label" for="gender_informative_no_{{ frame }}">No</label>
                                </div>
                            </div>

                            <!-- Stage Informative -->
                            <div class="form-group">
                                <label>Stage Informative:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="stage_informative" id="stage_informative_yes_{{ frame }}" value="Yes" {% if frame_tags.get(frame, {}).get('Stage Informative') == 'Yes' %}checked{% endif %}>
                                    <label class="form-check-label" for="stage_informative_yes_{{ frame }}">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="stage_informative" id="stage_informative_no_{{ frame }}" value="No" {% if frame_tags.get(frame, {}).get('Stage Informative') == 'No' %}checked{% endif %}>
                                    <label class="form-check-label" for="stage_informative_no_{{ frame }}">No</label>
                                </div>
                            </div>

                            <!-- Anomaly Informative -->
                            <div class="form-group">
                                <label>Anomaly Informative:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="anomaly_informative" id="anomaly_informative_yes_{{ frame }}" value="Yes" {% if frame_tags.get(frame, {}).get('Anomaly Informative') == 'Yes' %}checked{% endif %}>
                                    <label class="form-check-label" for="anomaly_informative_yes_{{ frame }}">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="anomaly_informative" id="anomaly_informative_no_{{ frame }}" value="No" {% if frame_tags.get(frame, {}).get('Anomaly Informative') == 'No' %}checked{% endif %}>
                                    <label class="form-check-label" for="anomaly_informative_no_{{ frame }}">No</label>
                                </div>
                            </div>

                            <!-- Not Informative -->
                            <div class="form-group">
                                <label>Not Informative:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="not_informative" id="not_informative_yes_{{ frame }}" value="Yes" {% if frame_tags.get(frame, {}).get('Not Informative') == 'Yes' %}checked{% endif %}>
                                    <label class="form-check-label" for="not_informative_yes_{{ frame }}">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="not_informative" id="not_informative_no_{{ frame }}" value="No" {% if frame_tags.get(frame, {}).get('Not Informative') == 'No' %}checked{% endif %}>
                                    <label class="form-check-label" for="not_informative_no_{{ frame }}">No</label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary mt-2">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}